<h1>{{article.title}}</h1>

<p>{{article.published_at | date:'%B %d, %y'}}</p>

<div> 
{{article.content}}
</div>

{% paginate article.comments by 20 %}
  <h2>Comments</h2>
  {% for comment in article.comments %}
    <h5>{{comment.name}}</h5>
    <p>{{comment.email}}</p>
    <div>{{comment.content}}</div>
    
  {% endfor %}

  {{ paginate | default_pagination }}
{% endpaginate %}

{% if article.comments_enabled? %}
<h2>Leave a comment</h2>
{% form 'new_comment', article%}

  <div class="name">
    <label for="name">Name</label>
    <input type="text" name="comment[author]" value="{{ form.author }}">
  </div>

  <div class="email">
    <label for="email">Email</label>
    <input type="email" name="comment[email]" value="{{ form.email }}">
  </div>

  <div class="comment">
    <label for="comment">Comment</label>
    <textarea name="comment[body]">{{ form.body }}</textarea>
  </div>

  <div class="submit">
    <input type="submit" value="Post">
  </div>

{%endform%}
{% endif%}